<!DOCTYPE html>
<html>
<head>

<title>{% block title %}{% endblock %}</title>
</head>
<body>
    <ul>
        {% block content %} 
        <h1>Recipe Generator</h1>
        {% endblock %}

        {% for i in titles%}
        <li>{{i}}</li>
        {% endfor %}

        {% for i in recipes %}
            <li>{{i[0]}}</li>
            <li><img src="{{i[1]}}"></li>
        {% endfor %}

        {% for i in range(len(recipes)) %}
            {% for j in range (len(recipes[i])) %}
                <li>{{recipes[i][j]}}</li>
            {% endfor %}
        {% endfor %}

      </ul>


    

</body>

</html>